.addDataPoint {
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
}

.addDataPoint:hover {
  opacity: 1;
  cursor: pointer;
}

.separator {
  top: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid cornflowerblue;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
