.graphSVG {
  background-color: #ffffff;
}

.toolTipText {
  font-size: 12px;
  font-weight: bold;
  fill: #000000;
}

.transition1 {
  transition: all 0.1s;
}

.dataPointCircle {
}

.dataPointCircle:hover {
  filter: url('#glow');
}

.dataPointCircle.active {
  filter: url('#glow');
}

.dataLine {
  stroke: url('#rainbow');
  filter: url('#lineBackDrop');
  mask: url('#lineMask');
}
