.graphSVG {
  background-color: #ffffff;
}

.toolTipText {
  font-size: 12px;
  font-weight: bold;
  fill: #000000;
}

.transition1 {
  transition: all 0.1s;
}

.dataPointCircle:hover {
  filter: url('#glow');
}

.dataPointCircle.active {
  filter: url('#glow');
}

.dataLine {
  /* stroke: url('#rainbow');
  filter: url('#lineBackDrop');
  mask: url('#lineMask'); */
}

.additionalData {
  opacity: 0;
  transition: all 0.1s;
}

.dataPointCircle:hover + .additionalData {
  opacity: 1;
}
